[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "==19.3b0"
prospector = {version = "*", extras = ["with-everything"]}

[packages]
cssselect = "*"
lxml = "*"
selenium = "*"

[requires]
python_version = "3.6"

[scripts]
check-format = "black --check setup.py webdrivers tests"
lint = "prospector --no-autodetect --output-format pylint"
test = "pytest --cov=webdrivers tests/"
